@using WindowsOnly.Models.ViewModels

@model List<BookViewModel>

@{ 
    const int maxPerRow = 3;
    int counter = 0;
    Layout = null;
}

<div class="row right">
    @foreach (BookViewModel book in Model)
    {
        counter++;
        if (counter == maxPerRow)
        {
            counter = 0;
            @Html.Raw("</div>")
            @Html.Raw("<div class=\"row\">")
        }
        <div class="col-md-4">
            <a href="@Url.Action("Details", "Books", new { book.Id })" class="thumbnail">
                <img src="@book.ImageUrl" alt="@book.Title" title="@book.Title" />
                <span class="label label-success">Save @book.SavePercantage%</span>
            </a>
            <h4>
                <a href="@Url.Action("Details", "Books" ,new { book.Id })">
                    @book.Title
                </a>
            </h4>
            <p>@book.Author.FullName</p>
            <p>Your Price: $@book.SalePrice</p>
            <p>
                List Price: 
                <span style="text-decoration: line-through">
                    $@book.ListPrice
                </span>
            </p>
        </div>
    }
</div>
